body{
    font-family: 'Baloo Chettan 2', cursive;
}
.nav-bg{
    background-color:  #264653;
}
.nav-text{
    color: white;
    font-weight: 500;
}
.top-bg-color{
    background-color:  #264653;
}
.gray-text{
    color: rgba(245, 242, 235, 0.692);
}
.purchase-color{
    background-color: #cc9900;
}
.bgless-border{
    background-color: white;
    border-color:#cc9900;
    color: #cc9900;
}
/* coloured text */
.brown-text{
    color: #803300;
}
/* grayscale color  */
.grayscale-bike{
    filter: grayscale(100%);
}
/* footer-customisation */
.footer-style{
    background-color: black;
}
.footer-text{
    color: white;
}
.link-decoration{
    text-decoration: none;
    color: white;
}
footer li{
    list-style-type: none;
}
.button-customization{
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 15px;
}
.fab{
    font-size: 46px;
    color: white;
}
.button-text{
    font-size: larger;
}