body{
    font-family: 'Baloo Chettan 2', cursive ;
}
.nav-bg{
    background-color:  #264653;
}
.nav-text{
    color: white;
    font-weight: 500;
}
.top-bg-color{
    background-color:  #264653;
}
.gray-text{
    color: rgba(245, 242, 235, 0.692);
}
.purchase-color{
    background-color: #cc9900;
}
.bgless-border{
    background-color: white;
    border-color:#cc9900;
    color: #cc9900;
}
/* coloured text */
.brown-text{
    color: #803300;
}
/* grayscale color  */
.grayscale-bike{
    filter: grayscale(100%);
}
/* client section  */
.star-color{
    color: orange;
}
/* extra sectio  */
.glass{
	backdrop-filter: blur(15px);
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 1rem;
}
.glass-img{
    background-image: url(../images/glass.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.animate-text {
    position: relative;
    font-family: 'Baloo Chettan 2';
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
.status{
    text-align: center;
    color: black;
    padding: auto;
    margin: auto;
}
#back-shadow{
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px  rgb(192, 192, 192);
}
/* footer-customisation */
.footer-style{
    background-color: black;
}
.footer-text{
    color: white;
}
.link-decoration{
    text-decoration: none;
    color: white;
}
footer li{
    list-style-type: none;
}
.button-customization{
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 15px;
}
.fab{
    font-size: 46px;
    color: white;
}
.button-text{
    font-size: larger;
}